
%li
  = link_to api_base_url + "/api-browser/browser.html#" + api_path  do
    %i.fa.fa-globe
    API Browser 

%li
  = link_to api_base_url + "/doc/api/index.html"  do
    %i.fa.fa-file-text-o
    API Documentation


